version: '3.8'

services:
  api:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - mongo
    environment:
      MongoSettings__ConnectionString: mongodb://mongo:27017
      MongoSettings__DatabaseName: SecureTaskDb

  mongo:
    image: mongo:7
    ports:
      - "27017:27017"